doctype html
html
    head
        title confirm
    body
        p Purchase Successful
        table(border='0')
            tbody
                tr
                    td Customer:
                    td #{session.name}
                tr
                    td
                        span Card:
                    td #{card.Creditcard}
                tr
                    td Card number:
                    td #{card.Cardnumber}
                tr
                    td Amount:
                    td #{session.total_cost}
                tr
                    td Express Delivery:
                    td
                        if(card.expressdelivery === 'on')
                            | Yes
                        else
                            | No
        br
        a(href='/list') BUY MORE BOOKS
        br
        a(href='/logout') LOGOUT
