doctype html
html
    head
        title index
    body
        br
        | Please the following information:
        form(action='/purchase', method='post')
            table(border='0')
                tbody
                    tr
                        td Name:
                        td #{name}
                    tr
                        td Quantity
                        td
                            if error !== undefined
                                input(type='number', name='Quantity', size='4', value=quantity, maxlength='12' required)
                                | #{error}
                            else
                                input(type='number', name='Quantity', size='4', value=1, maxlength='12' required)
                    tr
                        td Books
                        td
                            select(size='9', name='Books', multiple='multiple' required)
                                each book in books
                                    option(value=book.id) #{book.name}
            br
            input(type='submit', name='SUBMIT')
            br
            a(href='/logout') LOGOUT
