// <head>
// <title>Bookstore: Login page</title>
// </head>
// <body>
// <h1>Bookstore: Login page</h1> <br/><form action="login" method="post">
//<table width="75%"><tbody><tr>
//<td width="48%">Enter your name</td><td width="52%"><input name="name" type="text"></td></tr><tr>
//<td width="48%">Enter your password</td><td width="52%"><input name="pwd" type="text"></td></tr>
//</tbody></table><p>//- < input name="Submit" value="Login" type="submit" >
//- <input name="Reset" value="Reset form" type="reset" > < /p></form></body>

head
    title Bookstore: Login page

body
    h1 Bookstore: Login page
    br
    if failure
        h3 Login failed! Please try again!
    form(action="login" method="post")
        table(width="75%")
            tbody
                tr
                    td(width="48%") Enter your name
                    td(width="52%")
                        input(name="name" type="text" required)
                tr
                    td(width="48%") Enter your password
                    td(width="52%")
                        input(name="pwd" type="password" required)
        p
            input(name="Submit" value="Login" type="submit")
            |
            |
            input(name="Reset" value="Reset form" type="reset")