head
    title Bookstore: Admin

body
    h1 Bookstore: Admin
    br
    p #{message}
    h2 Add
    form(action="manage" method="post")
        table(width="75%")
            tbody
                tr
                    td(width="48%") Book id
                    td(width="52%")
                        input(name="id" type="text" required)
                tr
                    td(width="48%") Book name
                    td(width="52%")
                        input(name="name" type="text" required)
                tr
                    td(width="48%") Book price
                    td(width="52%")
                        input(name="price" type="number" min="0" step="any" required)
                tr
                    td(width="48%") Book url
                    td(width="52%")
                        input(name="url" type="url" required)
        p
            input(name="Add" value="Add" type="submit")
            |
            |
            input(name="Reset" value="Reset form" type="reset")

    h2 Delete
    form(action="manage" method="post")
        table(width="75%")
            tbody
                tr
                    td(width="48%") Book id
                    td(width="52%")
                        input(name="id" type="text" required)
        p
            input(name="Delete" value="Delete" type="submit")
            |
            |
            input(name="Reset" value="Reset form" type="reset")

    a(href='/logout') LOGOUT